<!DOCTYPE html>

<html>
{{template "head"}}

<body>
    <div class="fixed">
        <form method="post" action="/dcartFindffl">
            <div class=zip-wrapper>
                <label class="zip-label">Zip</label> <input name="zip" class="zip-input" type="text" placeholder="zip code">
                <input name="use" type="hidden" value="{{.Enabled}}">
                <button class="mini circular ui icon button" type="submit">
                    <i class="search icon"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="ui container">
        <div class="ffl-list">
            <div class="zip">
                <div class="zip-title">Ship firearms to the following FFL:</div>
            </div>
            <table class="ui unstackable selectable celled table">
                <tbody>
                    <tr>
                        {{if ne .FFL.BusinessName "NULL"}}
                            <td>{{.FFL.BusinessName}}</td>
                            <td>{{.FFL.PremiseStreet}}, {{.FFL.PremiseCity}}, {{.FFL.PremiseState}} </td>
                        {{else}}
                            <td>{{.FFL.LicenseName}}</td>
                            <td>{{.FFL.PremiseStreet}}, {{.FFL.PremiseCity}}, {{.FFL.PremiseState}} </td>
                        {{end}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>