<!DOCTYPE html>

<html>
{{template "head"}}

<body>
    <div class="ui container">
        <div class="ffl-list">
            <div class="zip">
                <div class="zip-title">Firearms will be shipped to the following FFL:</div>
            </div>
            {{if .NoFFL}}
            <div class="no-ffl">FFL Not Chosen</div>
            {{else}}
            <table class="ui unstackable selectable celled table">
                <tbody>
                    <tr>
                        {{if ne .FFL.BusinessName "NULL"}}
                            <td>{{.FFL.BusinessName}}</td>
                            <td>{{.FFL.PremiseStreet}}, {{.FFL.PremiseCity}}, {{.FFL.PremiseState}} </td>
                        {{else}}
                            <td>{{.FFL.LicenseName}}</td>
                            <td>{{.FFL.PremiseStreet}}, {{.FFL.PremiseCity}}, {{.FFL.PremiseState}} </td>
                        {{end}}

                    </tr>
                </tbody>
            </table>
            {{end}}

        </div>
    </div>
</body>

</html>