<!DOCTYPE html>

<html>
{{template "head"}}

<body>
    <div class="fixed">
        <form method="post" action="/dcartFindffl">
            <div class=zip-wrapper>
                <label class="zip-label">Zip</label> <input name="zip" class="zip-input" type="text" placeholder="zip code">
                <input name="use" type="hidden" value="{{.Enabled}}">
                <button class="mini circular ui icon button" type="submit">
                    <i class="search icon"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="ui container">
        <div class="ffl-list">
            <div class="zip">
                <div class="zip-title">Firearms Must be Shipped to an FFL</div>
            </div>
            <div class="button-wrapper">
                <div class="ffl-button">
                    <form method="post" action="/dcartFindffl">
                        <div class="ffl-back">
                            <input name="zip" type="hidden" value="{{.Zip}}">
                            <input name="use" type="hidden" value="{{.Enabled}}">
                            <button class="ui left labeled icon button" type="submit">
                                Back<i class="left arrow icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="ffl-button">
                    <form method="post" action="/dcartShipffl">
                        <div class="ffl-send">
                            <input name="id" type="hidden" value="{{.FFL.ID}}">                            
                            <button class="ui right labeled icon button" type="submit">
                                Ship<i class="right arrow icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="ui unstackable selectable celled table">
                <tbody>
                    <tr>
                        {{if ne .FFL.BusinessName "NULL"}}
                            <td>{{.FFL.BusinessName}}</td>
                            <td>{{.FFL.PremiseStreet}}, {{.FFL.PremiseCity}}, {{.FFL.PremiseState}}</td>
                        {{else}}
                            <td>{{.FFL.LicenseName}}</td>
                            <td>{{.FFL.PremiseStreet}}, {{.FFL.PremiseCity}}, {{.FFL.PremiseState}}</td>
                        {{end}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>